@charset "EUC-KR";


#container {
	display: flex;
	justify-content: center;
}

.completed_message {
	font-size: 25px;
}

.message, footer {
	text-align: center;
}

.wrap_tb {
	margin-top: 50px;
  	display: flex;
  	justify-content: center;
}

.tb_info {
	width: 700px;
	
}

.tb_info_tr, .tb_pay {
	height: 60px;
}

.order_detail {
	margin-left: 50px;
	background-color: #FCF6F5;
	height: 100%;
	padding: 50px;
}

#flex_container {
	display: flex;
	justify-content: center;
    align-items: center;
}

.pro_img {
	width: 100px;
	height: 150px;
	text-align: center;
}

table { 
	border-collapse:collapse;
}

td, th, table {
   	border: none;
}


.tb_info td:first-child {
	padding: 10px;
	text-align: left;
	font-size: 13px;
	font-weight: 900;
}

.tb_pay {
	width: 130px;
}

.tb_pay td:last-child {
	text-align: right;
}


.payment_confirm_message {
	margin-top: 50px;
	
}

.total_payment {
	font-size: 20px;
	text-align: right;
	margin-top: 30px;
}


.product_name {
	width: 100px;
}

.product_img {
	text-align: center;
	width: 200px;
}

.container_sec_ch div {
	padding: 20px;
}

.container_sec_ch div:first-child {
	font-size: 16px;
	font-weight: 900;
}